@font-face {
    font-family: 'Helvetica';
    src: url(fontface/Helvetica.ttf);
}

html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
  }
body{
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;  /* Firefox */
}

.head{
    display: flex;
}

.head-img{
    width: 45.9375vw;
    height: 50vw;
}

.logo{
    margin-top: 3.5416666666666665vw;
    margin-left: 4.53125vw;
    display: flex;
    align-items: center;
}

#green-logo{
    margin: 0;

    color: #235347;
    font-family: 'Philosopher';
    font-size:  1.875vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#white-logo{
    margin: 0;
    margin-left: 0.46875vw;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 3.4375vw;
    height: 1.9791666666666667vw;
    flex-shrink: 0;

    background: #235347;
    
    color: #FFF;
    font-size: 1.6666666666666667vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: 'Philosopher';
}

.head-title{
    box-sizing: border-box;
    padding-top: 5.15625vw;
    padding-left: 4.0625vw;
    margin-top: 3.2291666666666665vw;
    background: #235347;
    width: 54.114583333333336vw;
    height: 29.375vw;
    flex-shrink: 0;
}

.head-title h2{
    margin: 0;
    color: #FFF;
    font-family: 'Lexend';
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.head-title h1{
    margin: 0;
    margin-top: 2.34375vw;
    color: #FFF;
    font-size: 4.84375vw;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.information{
    box-sizing: border-box;
    padding-left: 4.739583333333333vw;
    padding-top: 3.28125vw;
}

.to-website{
    display: flex;
    align-items: center;
}

.to-website h2{
    margin: 0;
    color: rgba(35, 83, 71, 0.85);
    font-family: 'Helvetica';
    font-size: 2.0833333333333335vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.to-website hr{
    margin: 0;
    margin-left: 1.875vw;
    margin-right: 2.03125vw;
    width: 0.2604166666666667vw;
    height: 2.96875vw;
    background: rgba(110, 110, 110, 0.70);
}

.to-website h3{
    margin: 0;
    color: #6E6E6E;
    font-family: 'Helvetica';
    font-size: 2.0833333333333335vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.time-and-date{
    margin-top: 1.0416666666666667vw;
    display: flex;
    align-items: center;
}
.clock{
    width: 2.17015625vw;
    height: 2.17015625vw;
}

.time-and-date h2{
    margin: 0;
    margin-left: 1.25vw;
    color: rgba(0, 0, 0, 0.50);
    font-family: 'Helvetica';
    font-size: 2.0833333333333335vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main{
    box-sizing: border-box;
    padding: 4.375vw  9.947916666666666vw  9.947916666666666vw  9.947916666666666vw;
}

.main p{
    margin: 0;
    margin-top: 1.6666666666666667vw;
    color: #6E6E6E;
    font-family: 'Open Sans';
    font-size: 1.8229166666666667vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main h2{
    margin: 0;
    color: rgba(0, 0, 0, 0.60);
    font-family: 'Helvetica';
    font-size: 3.3333333333333335vw;
    font-style: normal;
    font-weight: 700;
    line-height: 93.75%
}

.image-content{
    margin-top: 3.3333333333333335vw;
    display: flex;
    align-items: center;
}

.image-content img{
    width: 32.03125vw;
    height: 26.041666666666668vw;
}

.image-text{
    margin-left: 4.479166666666667vw;
}

.card-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-list h1{
    color: #235347;
    font-family: 'Lexend';
    font-size:  4.6875vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-grid{
    display: grid;
    grid-auto-flow: column;
    gap: 2.6041666666666665vw;
}

.card-grid img{
    width: 23.4375vw;
    height: 35.260416666666664vw;
}
footer{
    margin-top: 6.25vw;
}

.footer-head{
    box-sizing: border-box;
    padding-left: 5.833333333333333vw;
    padding-right: 5.833333333333333vw;
    height: 13.958333333333334vw;
    background: #235347;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-head input{
    box-sizing: border-box;
    width: 25.9375vw;
    height: 3.6458333333333335vw;
    padding: 0.7291666666666666vw 0.8333333333333334vw;
    border-radius: 0.625vw;
    background:#F5F5FA;
    box-shadow: 0px 16px 24px 0px rgba(1, 1, 1, 0.15);
    font-family: 'Poppins';
    font-size: 0.8333333333333334vw;
    font-style: normal;
    font-weight: 500;
    border: none;
}

.footer-head-text h2{
    margin: 0;
    color: #F5F5FA;
    font-family: 'Open Sans';
    font-size: 1.0416666666666667vw;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0.1px;
}

.footer-head-text h1{
    width: 27.604166666666668vw;
    margin: 0;
    color: #F5F5FA;
    font-family: 'Lexend';
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: 0.24px;
}

.footer-main{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 5.833333333333333vw 18.75vw 6.041666666666667vw 5.833333333333333vw;
}

.short-description-and-social h1{
    color:#0F1729;
    font-family: 'Lexend';
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.232px;
}

.short-description-and-social p{
    width:  21.354166666666668vw;
    color:rgba(11, 31, 50, 0.60);
    font-family: 'Open Sans';
    font-size: 0.8333333333333334vw;
    font-style: normal;
    font-weight: 400;
    line-height: 162.5%;
    letter-spacing: 0.08px;
}

.social{
    margin-top: 2.5vw;
}

.social img:first-child{
    margin-left: 0;
}

.social img{
    margin-left: 1.25vw;
    width: 2.6041666666666665vw;
    height: 2.6041666666666665vw;
}

.links{
    display: flex;
}

.links-item:first-child{
    margin-left: 0;
}

.links-item{
    margin-left: 6.145833333333333vw;
    list-style: none;
}

.links-title{
    color: #0F1729;
    font-family: 'Lexend';
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 600;
    line-height: 108.333%;
    letter-spacing: 0.052083333333333336vw;
    margin-bottom: 0.4166666666666667vw;
}

.links-item li a{
    margin-top: 0.4166666666666667vw;
    text-decoration: none;
    color: rgba(11, 31, 50, 0.60);
    font-family: 'Open Sans';
    font-size: 0.8333333333333334vw;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.5px;
}

.footer-foot{
    padding: 1.0416666666666667vw;
    display: flex;
    justify-content: center;
    align-items: center;

    color: rgba(11, 31, 50, 0.60);
    font-family: 'Poppins';
    text-align: center;
    font-size: 0.8333333333333334vw;
    font-style: normal;
    font-weight: 400;
    line-height: 162.5%;
    letter-spacing: 0.5px;
}

@media screen and (max-width: 430px) {
    
    .main p{
        margin: 0;
        margin-top: 1.6666666666666667vw;
        font-size: 13px;
    }
    
    .main h2{
        margin: 0;
        font-size: 18px;
    }
    
    .image-content{
        margin-top: 3.3333333333333335vw;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .image-content img{
        width: 321px;
        height: 202px;
    }
    
    .image-text{
        margin-top: 24px;
        margin-left: 8px;
    }
    
    footer{
        margin-top: 64px;
    }
    
    .footer-head{
        box-sizing: border-box;
        padding: 36px;
        height: 200px;
        background: #235347;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    .footer-head input{
        box-sizing: border-box;
        width: 100%;
        height: 42px;
        padding-left: 8px;
        border-radius: 6px;
        background:#F5F5FA;
        box-shadow: 0px 16px 24px 0px rgba(1, 1, 1, 0.15);
        font-family: 'Poppins';
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        border: none;
    }
    
    .footer-head-text h2{
        font-size: 16px;
    }
    
    .footer-head-text h1{
        width: 353px;
        margin: 0;
        margin-top: 12px;
        color: #F5F5FA;
        font-family: 'Lexend';
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 125%; /* 125% */
        letter-spacing: 0.24px;
    }
    
    .footer-main{
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        padding:36px;
    }
    
    .short-description-and-social h1{
        font-size: 18px;
    }
    
    .short-description-and-social p{
        width: 200px;
        color:rgba(11, 31, 50, 0.60);
        font-family: 'Open Sans';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 162.5%; /* 162.5% */
        letter-spacing: 0.08px;
    }
    
    .social{
        margin-top: 16px;
    }
    
    .social img:first-child{
        margin-left: 0;
    }
    
    .social img{
        margin-left: 8px;
        width: 24px;
        height: 24px;
    }
    
    .links{
        display: flex;
        flex-direction: column;
    }
    
    .links-item{
        margin-left: 0;
        list-style: none;
    }
    
    .links-title{
        font-size: 16px;
        line-height: 108%
    }
    
    .links-item li a{
        margin-top: 4px;
        font-size:8px;
        line-height: 150%;
        letter-spacing: 0.5px;
    }
    
    .footer-foot{
        font-size: 8px;
        line-height: 162.5%;
        letter-spacing: 0.5px;
    }
}